.container {
	max-width: 50%;
	margin: 0 auto;
	@media(max-width: 768px) {
		max-width: 80%;
	}
}

.map {
	border: 1px solid $gridColor;
	border-spacing: 0;
	border-collapse: collapse;
	margin: 30px auto;
	&__block {
		width: 30px;
		height: 30px;
		border: 1px solid $gridColor;
	}
}